.header-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #F2F2F2;
	padding: 2.3em 0;
 }
 
 .logo a{
	margin-left: 10%;
	display: inline;
	font-size: 2em;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
 }

 header ul li {
		 display: inline;
		 padding: 0 1.4em 0 0;
		 font-size: 0.9em;
 }
 
 header ul li a {
	text-decoration: none;
	color: #7D7C7D;
 }
 
 li a.active {
	color: #000000;
	border-bottom: 2px solid #000000;
	font-weight: 300;
 }
 
 li a:hover {
	color: #B6B6B6;
 }

.wrapper{
	margin-left: auto;
	margin-right: auto;
	display: flex;

	padding-right: 10px;
	padding-left: 10px;

	color: #666666;
	background-color: #ffffff;

	border: 2px solid #F2F2F2;

	font-size: 12px;

	line-height: 2;

}

.meImg{

	display: flex;
	justify-content: center;

	padding: 10px;
}

.img1 img{
	width: 75%;
	height: auto;
}

.img2 img{
	width: 75%;
	height: auto;
}

.body{
	background-image: url(../images/what-the-hex/what-the-hex.png);
	font-family: Arial, Helvetica, sans-serif;
	padding: 30px;
	min-height: calc(100vh - 70px);
	/* margin-bottom: -50px; */ 
}

.sub{
	color: rgb(17, 165, 163);
	font-size: 30px;
	border-bottom: 2px solid #ddd;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.footer{
	height: 50px;
	text-align: center;

	background-color: #666666;
	color: #ffffff;

	border-top: 4px solid rgb(18, 143, 141);

	font-family: 'Times New Roman', Times, serif;
}

form{
	margin: auto;
	width: 100%;
}

/* MEDIA QUERIES AREA */
@media screen and (min-width : 600px) {
	.header-container {
		flex-direction: row;
		justify-content: space-between;
	}
 
 .logo a{
	margin-left: 2.3em
	}
 
	nav {
		align-self: center;
		margin: 0 0.8em 0 0;
	}



	.wrapper{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	
		max-width: 960px;
		min-height: 100%;

		display: flex;
		flex-wrap: wrap;

		padding-right: 10px;
		padding-left: 10px;
	
		color: #666666;
		background-color: #ffffff;
	
		border: 2px solid #dddddd;
	
		font-size: 18px;
	
		line-height: 2;
	
	}

	.meImg{

		display: flex;
		justify-content: flex-start;
	
		padding: 10px;
	}

	.footer{
		/* height: 50px; */
		text-align: center;
	
		background-color: #666666;
		color: #ffffff;
	
		border-top: 4px solid rgb(18, 143, 141);
	
		font-family: 'Times New Roman', Times, serif;
	}
 }
